@import "tailwindcss";

@theme {
  --color-background: #f5f4f0;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-slate-900);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}
